.btns {
   margin: 30px auto;
   display: flex;
}
.btn {
   margin: 1em;
   padding: .5em;
	border: none;
   font-size: 16px;
   background-color: rgb(98, 166, 243);
   color: rgb(255, 253, 250);
}
.btn:hover{
	cursor: pointer;
}
.btn:focus{
	
   background-color: rgb(251, 251, 251);
   color: rgb(39, 70, 94);
}

.check_all {
	display: flex;
	align-items: center;
	align-self: center;
	gap: 1em;
	font-size: 1.2em;
	color: rgb(42, 41, 41);
}
.list {
	min-width: 80%;
}