* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
}
.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
	padding: 1em;
  
   max-width: 70%;
   margin: 30px auto;

	background-color: rgb(210, 236, 245);
}
